<header class="border-bottom">
  <nav
    [class]="
      'container w-100 d-flex p-3 ' +
      (loggedIn() ? 'justify-content-between' : 'justify-content-around')
    "
  >
    <div class="d-flex align-items-center">
      @if(menuEnabled) { 
        <button mat-icon-button class="me-2" (click)="onToggleNav()">
          <mat-icon class="mb-2 text-green">apps</mat-icon>
        </button>
      }
      <h3
        class="my-auto py-auto"
        style="color: green; cursor: pointer"
        routerLink="/home"
      >
        LMS
      </h3>
    </div>
    @if(loggedIn()) {
    <div class="d-flex justify-content-center align-items-center">
      <!-- <button mat-stroked-button>Goto</button> -->

      <div class="top-bar-items ml-5">
        <span class="user-image">
          <mat-icon class="user-icon">person</mat-icon>
        </span>

        <span class="right-box">
          <div class="name">{{ name() }}</div>
          <div
            mat-ripple
            matRippleColor="#50a95056"
            class="logout"
            (click)="onLogout()"
          >
            <mat-icon class="logout-icon">logout</mat-icon>
            <span>Logout</span>
          </div>
        </span>
      </div>
    </div>
    }
  </nav>
</header>
