<header class="border-bottom">
  <nav
    [class]="
      'w-100 d-flex p-3 ' +
      (loggedIn() ? 'justify-content-between' : 'justify-content-around')
    "
  >
    <section class="d-flex align-items-center">
      @if(menuEnabled) { 
        <button mat-icon-button class="me-md-5" (click)="onToggleNav()">
          <mat-icon [class]="'menu-icon mb-2 text-green'">keyboard_double_arrow_right</mat-icon>
        </button>
        <!-- TODO: here` -->
      }
      <h3
        class="my-auto py-auto"
        style="color: green; cursor: pointer"
        routerLink="/home"
      >
        LMS
      </h3>
    </section>
    @if(loggedIn()) {
    <section class="d-flex justify-content-center align-items-center">
      <!-- <button mat-stroked-button>Goto</button> -->

      <div class="top-bar-items ml-5 d-none d-sm-flex">
        <span class="user-image">
          <mat-icon class="user-icon">person</mat-icon>
        </span>

        <span class="right-box">
          <div class="name">{{ name() }}</div>
          <div
            mat-ripple
            matRippleColor="#50a95056"
            class="logout"
            (click)="onLogout()"
          >
            <mat-icon class="logout-icon">logout</mat-icon>
            <span>Logout</span>
          </div>
        </span>
      </div>

      <button mat-button type="button" class="d-sm-none">
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </section>
    }
  </nav>
</header>
