<main class="w-100 h-100 d-flex justify-content-center align-items-center">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <mat-card class="login-card border m-1 px-4 pt-5 pb-4">
    <span class="h3 text-center mb-5">Create new account</span>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" placeholder="Your name" />
        <mat-icon matSuffix>people</mat-icon>
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" placeholder="abc@xyz.com" />
        <mat-icon matSuffix>email</mat-icon>
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Password" />
        <mat-icon matSuffix>lock</mat-icon>
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" formControlName="confPassword" placeholder="Confirm Password" />
        <mat-icon matSuffix>lock</mat-icon>
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>

      <button mat-flat-button type="submit">Register</button>
      <button mat-button type="button" class="mt-2" routerLink="/login">Already registered? Log in</button>
    </mat-card>
  </form>
</main>
