<main class="container w-100">
  <section class="my-5 d-flex">
    <button
      mat-icon-button
      class="my-sm-auto back-icon-button"
      routerLink="/land-record"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="h1 my-auto"
      >{{ updateMode() ? "Update" : viewMode() ? "View" : "Add new" }} land
      record</span
    >
  </section>

  <mat-card class="p-3 m-2 mb-4 border">
    <form [formGroup]="newLandRecordForm">
      <section class="container mb-3">
        <h5 class="font-weight-normal py-2">Group</h5>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
          <mat-form-field appearance="outline">
            <mat-label>Group Name</mat-label>
            <input
              type="text"
              formControlName="groupName"
              [readonly]="viewMode()"
              matInput
            />
          </mat-form-field>
        </div>
      </section>

      <section class="container mb-3">
        <h5 class="font-weight-normal py-2">Area</h5>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
          <mat-form-field appearance="outline">
            <mat-label>State</mat-label>
            <mat-select
              formControlName="state"
              (ngModelChange)="onStatesChange()"
              required
            >
              @for (state of states(); track 'state-' + state.code) {
              <mat-option [value]="state.code">{{ state.name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>City/Area</mat-label>
            <mat-select
              formControlName="city"
              placeholder="Pick a city"
              required
            >
              @for (city of cities(); track 'city-' + $index) {
              <mat-option [value]="city">{{ city }}</mat-option>
              }
            </mat-select>
            @if(form["city"].touched && cities().length === 0){
            <mat-hint class="text-red"
              ><mat-icon>info</mat-icon> Select a state first</mat-hint
            >
            }
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Mouza</mat-label>
            <input formControlName="mouza" [readonly]="viewMode()" matInput />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Block</mat-label>
            <input formControlName="block" [readonly]="viewMode()" matInput />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>JL No.</mat-label>
            <input
              type="number"
              formControlName="jlno"
              [readonly]="viewMode()"
              matInput
            />
          </mat-form-field>
        </div>

        <div class="row m-1">
          <button
            type="button"
            mat-flat-button
            class="col-auto"
            [disabled]="viewMode()"
          >
            Banglar Bhumi Info
          </button>
        </div>
      </section>

      <section class="container mb-3">
        <h5 class="font-weight-normal py-2">Ownership & Transaction</h5>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
          <mat-form-field appearance="outline">
            <mat-label>Buyer/Owner</mat-label>
            <input
              formControlName="buyerOwner"
              [readonly]="viewMode()"
              matInput
            />
          </mat-form-field>
        </div>

        <h6 class="font-regular">Seller List</h6>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
          <div>
            @for (seller of sellerFormControls; track 'seller-'+$index) {
            <div class="d-flex flex-nowrap align-items-center">
              <span class="h5 p-2 py-3 mb-auto">{{ $index + 1 }}.</span>
              <mat-form-field>
                <mat-label>Seller</mat-label>
                <input
                  [formControl]="seller"
                  [readonly]="viewMode()"
                  matInput
                />
              </mat-form-field>
              <span class="mt-2 mb-auto">
                <button
                  mat-icon-button
                  type="button"
                  (click)="onRemoveSeller($index)"
                  [disabled]="this.sellerForms.length < 2 || viewMode()"
                >
                  <mat-icon
                    [class]="this.sellerForms.length < 2 ? '' : 'text-red'"
                  >
                    do_not_disturb_on
                  </mat-icon>
                </button>
              </span>
            </div>
            }
            <button
              mat-button
              type="button"
              class="btn-sp2"
              (click)="onAddSeller()"
              [disabled]="viewMode()"
            >
              <mat-icon>add</mat-icon> Add Seller
            </button>
          </div>
        </div>

        <h6 class="font-regular my-3">Deed Details</h6>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
          <mat-form-field appearance="outline">
            <mat-label>Deed No.</mat-label>
            <input matInput formControlName="deedNo" [readonly]="viewMode()" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Date of Deed</mat-label>
            <input
              matInput
              formControlName="deedDate"
              [matDatepicker]="datePicker1"
              placeholder="DD/MM/YYYY"
              [readonly]="viewMode()"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="datePicker1"
              [disabled]="viewMode()"
            ></mat-datepicker-toggle>
            <mat-datepicker #datePicker1></mat-datepicker>
          </mat-form-field>

          <div>
            <mat-card appearance="outlined" class="m-auto p-2">
              <mat-radio-group
                formControlName="deedName"
                aria-label="Select an option"
                class="m-auto"
              >
                <mat-radio-button value="Main Deed">Main Deed</mat-radio-button>
                <mat-radio-button value="Chain Deed" class="m-2"
                  >Chain Deed</mat-radio-button
                >
              </mat-radio-group>
            </mat-card>
          </div>

          <div>
            <mat-card class="px-2 py-1" appearance="outlined">
              <p class="text-center my-2">Scan Copy</p>

              @if((fileInfoArray.scanCopyFile &&
              fileInfoArray.scanCopyFile.length) ||
              (oldFileInfoArray.scanCopyFile &&
              oldFileInfoArray.scanCopyFile.length)) { @if
              (oldFileInfoArray.scanCopyFile &&
              oldFileInfoArray.scanCopyFile.length) {
              <mat-card appearance="outlined" class="text-secondary">
                @if(!viewMode()) {
                  <p class="text-center small-text mb-0 text-dark">
                    Previous Uploads
                  </p>
                  <mat-divider></mat-divider>
                }
                <mat-list role="list">
                  @for(fileInfo of oldFileInfoArray.scanCopyFile; track
                  $index+'hcd-'+fileInfo.fileName) {
                  <div
                    class="d-flex justify-content-between align-items-center mb-1"
                  >
                    <span class="pt-2 text-truncate px-2"
                      ><b class="text-dark">{{ $index + 1 }}. </b>
                      @if(fileInfo.markedForDeletion) {
                      <del>{{ fileInfo.fileName }}</del>
                      } @else {
                      {{ fileInfo.fileName }}
                      }
                    </span>
                    <span class="d-flex align-items-center">
                      <button
                      mat-icon-button
                      class="mt-1"
                      (click)="
                        onWindowPopupOpenForFiles('scanCopyFile', fileInfo.fileName)
                      "
                    >
                      <mat-icon>open_in_new</mat-icon>
                    </button>
                    @if(!viewMode()) {
                    <button
                      mat-icon-button
                      class="mt-1"
                      (click)="
                        removeFromPreviousUploads('scanCopyFile', $index)
                      "
                      [disabled]="disableFileRemoval()"
                    >
                      <mat-icon>{{
                        fileInfo.markedForDeletion
                          ? "undo"
                          : "do_not_disturb_on"
                      }}</mat-icon>
                    </button>
                    }
                    </span>
                  </div>
                  }
                </mat-list>
              </mat-card>
              } @if (fileInfoArray.scanCopyFile &&
              fileInfoArray.scanCopyFile.length){
              <mat-card appearance="outlined" class="mt-2">
                <p class="text-center small-text mb-0">New Uploads</p>
                <mat-divider></mat-divider>
                <mat-list role="list">
                  @for(fileInfo of fileInfoArray.scanCopyFile; track
                  $index+'hcd-'+fileInfo) {
                  <div
                    class="d-flex justify-content-between align-items-center mb-1"
                  >
                    <span class="pt-2 text-truncate px-2"
                      ><b>{{ $index + 1 }}. </b>{{ fileInfo }}</span
                    >
                    @if(!viewMode()) {
                    <button
                      mat-icon-button
                      class="mt-1"
                      (click)="removeFiles('scanCopyFile', $index)"
                      [disabled]="disableFileRemoval()"
                    >
                      <mat-icon>do_not_disturb_on</mat-icon>
                    </button>
                    }
                  </div>
                  }
                </mat-list>
              </mat-card>
              } } @else {
              <mat-card appearance="outlined">
                <div class="drag-n-drop-box">
                  <p class="text-center small-text mt-3">DRAG AND DROP HERE</p>
                </div>
              </mat-card>
              }

              <button
                type="button"
                mat-stroked-button
                class="mt-2 mb-1"
                (click)="scanCopyAttachments.click()"
                [disabled]="viewMode()"
              >
                <mat-icon>upload</mat-icon> Upload Files
              </button>
              <input
                type="file"
                accept=".pdf, image/jpeg, image/png"
                class="d-none"
                (change)="onClickUploadFiles($event, 'scanCopyFile')"
                multiple
                #scanCopyAttachments
              />
            </mat-card>
          </div>
        </div>
      </section>

      <section class="container mb-3">
        <h5 class="font-regular py-2">Land Specifics</h5>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
          <mat-form-field appearance="outline">
            <mat-label>RS Dag No. (Old)</mat-label>
            <input
              formControlName="oldRsDag"
              [readonly]="viewMode()"
              matInput
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>LR Dag No. (New)</mat-label>
            <input
              matInput
              formControlName="newLrDag"
              [readonly]="viewMode()"
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Khatian No. (Old)</mat-label>
            <input
              matInput
              formControlName="oldKhatian"
              [readonly]="viewMode()"
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Khatian No. (New)</mat-label>
            <input
              matInput
              formControlName="newKhatian"
              [readonly]="viewMode()"
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Khatian No. (Current)</mat-label>
            <input
              matInput
              formControlName="currKhatian"
              [readonly]="viewMode()"
            />
          </mat-form-field>
        </div>

        <h6 class="font-regular my-3">Quantity Info</h6>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
          <mat-form-field appearance="outline">
            <mat-label>Total Qty</mat-label>
            <input
              type="number"
              matInput
              formControlName="totalQty"
              [readonly]="viewMode()"
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Purchased Qty</mat-label>
            <input
              type="number"
              matInput
              formControlName="purQty"
              [readonly]="viewMode()"
            />
          </mat-form-field>

          <div>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Mutated Qty</mat-label>
              <input
                type="number"
                matInput
                formControlName="mutedQty"
                [readonly]="viewMode()"
              />
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Un-mutated Qty</mat-label>
              <input
                type="number"
                matInput
                formControlName="unMutedQty"
                [readonly]="viewMode()"
              />
            </mat-form-field>
          </div>

          <div class="mb-3">
            <mat-card appearance="outlined" class="m-auto p-2">
              <mat-radio-group
                formControlName="landStatus"
                aria-label="Select an option"
                class="m-auto"
              >
                <mat-radio-button value="Vested">Vested</mat-radio-button>
                <mat-radio-button value="Unvested" class="m-2"
                  >Unvested</mat-radio-button
                >
              </mat-radio-group>
            </mat-card>
          </div>
        </div>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mb-2">
          <div class="pb-2">
            <mat-card class="px-2 py-1" appearance="outlined">
              <p class="text-center my-2">
                Mutation Details/ Mutation Certificate Upload
              </p>

              @if((fileInfoArray.mutationFile &&
              fileInfoArray.mutationFile.length) ||
              (oldFileInfoArray.mutationFile &&
              oldFileInfoArray.mutationFile.length)) { @if
              (oldFileInfoArray.mutationFile &&
              oldFileInfoArray.mutationFile.length) {
              <mat-card appearance="outlined" class="text-secondary">
                @if(!viewMode()) {
                  <p class="text-center small-text mb-0 text-dark">
                    Previous Uploads
                  </p>
                  <mat-divider></mat-divider>
                }
                <mat-divider></mat-divider>
                <mat-list role="list">
                  @for(fileInfo of oldFileInfoArray.mutationFile; track
                  $index+'hcd-'+fileInfo.fileName) {
                  <div
                    class="d-flex justify-content-between align-items-center mb-1"
                  >
                    <span class="pt-2 text-truncate px-2"
                      ><b class="text-dark">{{ $index + 1 }}. </b>
                      @if(fileInfo.markedForDeletion) {
                      <del>{{ fileInfo.fileName }}</del>
                      } @else {
                      {{ fileInfo.fileName }}
                      }
                    </span>
                    <span class="d-flex align-items-center">
                      <button
                      mat-icon-button
                      class="mt-1"
                      (click)="
                        onWindowPopupOpenForFiles('mutationFile', fileInfo.fileName)
                      "
                    >
                      <mat-icon>open_in_new</mat-icon>
                    </button>
                    @if(!viewMode()) {
                    <button
                      mat-icon-button
                      class="mt-1"
                      (click)="
                        removeFromPreviousUploads('mutationFile', $index)
                      "
                      [disabled]="disableFileRemoval()"
                    >
                      <mat-icon>{{
                        fileInfo.markedForDeletion
                          ? "undo"
                          : "do_not_disturb_on"
                      }}</mat-icon>
                    </button>
                    }
                    </span>
                  </div>
                  }
                </mat-list>
              </mat-card>
              } @if (fileInfoArray.mutationFile &&
              fileInfoArray.mutationFile.length){
              <mat-card appearance="outlined" class="mt-2">
                <p class="text-center small-text mb-0">New Uploads</p>
                <mat-divider></mat-divider>
                <mat-list role="list">
                  @for(fileInfo of fileInfoArray.mutationFile; track
                  $index+'hcd-'+fileInfo) {
                  <div
                    class="d-flex justify-content-between align-items-center mb-1"
                  >
                    <span class="pt-2 text-truncate px-2"
                      ><b>{{ $index + 1 }}. </b>{{ fileInfo }}</span
                    >
                    @if(!viewMode()) {
                    <button
                      mat-icon-button
                      class="mt-1"
                      (click)="removeFiles('mutationFile', $index)"
                      [disabled]="disableFileRemoval()"
                    >
                      <mat-icon>do_not_disturb_on</mat-icon>
                    </button>
                    }
                  </div>
                  }
                </mat-list>
              </mat-card>
              } } @else {
              <mat-card appearance="outlined">
                <div class="drag-n-drop-box">
                  <p class="text-center small-text mt-3">DRAG AND DROP HERE</p>
                </div>
              </mat-card>
              }

              <button
                type="button"
                mat-stroked-button
                class="mt-2 mb-1"
                (click)="mutationAttachments.click()"
                [disabled]="viewMode()"
              >
                <mat-icon>upload</mat-icon> Upload Files
              </button>
              <input
                type="file"
                accept=".pdf, image/jpeg, image/png"
                class="d-none"
                (change)="onClickUploadFiles($event, 'mutationFile')"
                multiple
                #mutationAttachments
              />
            </mat-card>
          </div>

          <div class="pb-2">
            <mat-card class="px-2 py-1" appearance="outlined">
              <div class="m-auto p-2">
                <mat-radio-group
                  formControlName="conversionLandStus"
                  aria-label="Select an option"
                  class="m-auto"
                >
                  <mat-radio-button value="Converted" class="m-1"
                    >Converted</mat-radio-button
                  >
                  <mat-radio-button value="Unconverted" class="m-1"
                    >Unconverted</mat-radio-button
                  >
                </mat-radio-group>
              </div>

              <mat-divider />

              <p class="text-center my-2">
                Conversion Details/ Conversion Certificate Upload
              </p>

              @if((fileInfoArray.conversionFile &&
              fileInfoArray.conversionFile.length) ||
              (oldFileInfoArray.conversionFile &&
              oldFileInfoArray.conversionFile.length)) { @if
              (oldFileInfoArray.conversionFile &&
              oldFileInfoArray.conversionFile.length) {
              <mat-card appearance="outlined" class="text-secondary">
                @if(!viewMode()) {
                  <p class="text-center small-text mb-0 text-dark">
                    Previous Uploads
                  </p>
                  <mat-divider></mat-divider>
                }
                <mat-divider></mat-divider>
                <mat-list role="list">
                  @for(fileInfo of oldFileInfoArray.conversionFile; track
                  $index+'hcd-'+fileInfo.fileName) {
                  <div
                    class="d-flex justify-content-between align-items-center mb-1"
                  >
                    <span class="pt-2 text-truncate px-2"
                      ><b class="text-dark">{{ $index + 1 }}. </b>
                      @if(fileInfo.markedForDeletion) {
                      <del>{{ fileInfo.fileName }}</del>
                      } @else {
                      {{ fileInfo.fileName }}
                      }
                    </span>
                    <span class="d-flex align-items-center">
                      <button
                      mat-icon-button
                      class="mt-1"
                      (click)="
                        onWindowPopupOpenForFiles('conversionFile', fileInfo.fileName)
                      "
                    >
                      <mat-icon>open_in_new</mat-icon>
                    </button>
                    @if(!viewMode()) {
                    <button
                      mat-icon-button
                      class="mt-1"
                      (click)="
                        removeFromPreviousUploads('conversionFile', $index)
                      "
                      [disabled]="disableFileRemoval()"
                    >
                      <mat-icon>{{
                        fileInfo.markedForDeletion
                          ? "undo"
                          : "do_not_disturb_on"
                      }}</mat-icon>
                    </button>
                    }
                    </span>
                  </div>
                  }
                </mat-list>
              </mat-card>
              } @if (fileInfoArray.conversionFile &&
              fileInfoArray.conversionFile.length){
              <mat-card appearance="outlined" class="mt-2">
                <p class="text-center small-text mb-0">New Uploads</p>
                <mat-divider></mat-divider>
                <mat-list role="list">
                  @for(fileInfo of fileInfoArray.conversionFile; track
                  $index+'hcd-'+fileInfo) {
                  <div
                    class="d-flex justify-content-between align-items-center mb-1"
                  >
                    <span class="pt-2 text-truncate px-2"
                      ><b>{{ $index + 1 }}. </b>{{ fileInfo }}</span
                    >
                    @if(!viewMode()) {
                    <button
                      mat-icon-button
                      class="mt-1"
                      (click)="removeFiles('conversionFile', $index)"
                      [disabled]="disableFileRemoval()"
                    >
                      <mat-icon>do_not_disturb_on</mat-icon>
                    </button>
                    }
                  </div>
                  }
                </mat-list>
              </mat-card>
              } } @else {
              <mat-card appearance="outlined">
                <div class="drag-n-drop-box">
                  <p class="text-center small-text mt-3">DRAG AND DROP HERE</p>
                </div>
              </mat-card>
              }

              <button
                type="button"
                mat-stroked-button
                class="mt-2 mb-1"
                (click)="conversionAttachments.click()"
                [disabled]="viewMode()"
              >
                <mat-icon>upload</mat-icon> Upload Files
              </button>
              <input
                type="file"
                accept=".pdf, image/jpeg, image/png"
                class="d-none"
                (change)="onClickUploadFiles($event, 'conversionFile')"
                multiple
                #conversionAttachments
              />
            </mat-card>
          </div>
        </div>
      </section>

      <section class="container mb-3">
        <h5 class="font-regular py-2">Location & Status</h5>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
          <div>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Location of Deed</mat-label>
              <input
                matInput
                [readonly]="viewMode()"
                formControlName="deedLoc"
              />
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Location of Photocopy</mat-label>
              <input
                matInput
                [readonly]="viewMode()"
                formControlName="photoLoc"
              />
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Status as per Govt. Records</mat-label>
              <input
                matInput
                [readonly]="viewMode()"
                formControlName="govtRec"
              />
            </mat-form-field>
          </div>

          <div class="pb-2">
            <mat-card class="px-2 py-1" appearance="outlined">
              <p class="text-center my-2">Attach Documents</p>

              @if((fileInfoArray.documentFile &&
              fileInfoArray.documentFile.length) ||
              (oldFileInfoArray.documentFile &&
              oldFileInfoArray.documentFile.length)) { @if
              (oldFileInfoArray.documentFile &&
              oldFileInfoArray.documentFile.length) {
              <mat-card appearance="outlined" class="text-secondary">
                @if(!viewMode()) {
                  <p class="text-center small-text mb-0 text-dark">
                    Previous Uploads
                  </p>
                  <mat-divider></mat-divider>
                }
                <mat-divider></mat-divider>
                <mat-list role="list">
                  @for(fileInfo of oldFileInfoArray.documentFile; track
                  $index+'hcd-'+fileInfo.fileName) {
                  <div
                    class="d-flex justify-content-between align-items-center mb-1"
                  >
                    <span class="pt-2 text-truncate px-2"
                      ><b class="text-dark">{{ $index + 1 }}. </b>
                      @if(fileInfo.markedForDeletion) {
                      <del>{{ fileInfo.fileName }}</del>
                      } @else {
                      {{ fileInfo.fileName }}
                      }
                    </span>
                    <span class="d-flex align-items-center">
                      <button
                      mat-icon-button
                      class="mt-1"
                      (click)="
                        onWindowPopupOpenForFiles('documentFile', fileInfo.fileName)
                      "
                    >
                      <mat-icon>open_in_new</mat-icon>
                    </button>
                    @if(!viewMode()) {
                    <button
                      mat-icon-button
                      class="mt-1"
                      (click)="
                        removeFromPreviousUploads('documentFile', $index)
                      "
                      [disabled]="disableFileRemoval()"
                    >
                      <mat-icon>{{
                        fileInfo.markedForDeletion
                          ? "undo"
                          : "do_not_disturb_on"
                      }}</mat-icon>
                    </button>
                    }
                  </span>
                  </div>
                  }
                </mat-list>
              </mat-card>
              } @if (fileInfoArray.documentFile &&
              fileInfoArray.documentFile.length){
              <mat-card appearance="outlined" class="mt-2">
                <p class="text-center small-text mb-0">New Uploads</p>
                <mat-divider></mat-divider>
                <mat-list role="list">
                  @for(fileInfo of fileInfoArray.documentFile; track
                  $index+'hcd-'+fileInfo) {
                  <div
                    class="d-flex justify-content-between align-items-center mb-1"
                  >
                    <span class="pt-2 text-truncate px-2"
                      ><b>{{ $index + 1 }}. </b>{{ fileInfo }}</span
                    >
                    @if(!viewMode()) {
                    <button
                      mat-icon-button
                      class="mt-1"
                      (click)="removeFiles('documentFile', $index)"
                      [disabled]="disableFileRemoval()"
                    >
                      <mat-icon>do_not_disturb_on</mat-icon>
                    </button>
                    }
                  </div>
                  }
                </mat-list>
              </mat-card>
              } } @else {
              <mat-card appearance="outlined">
                <div class="drag-n-drop-box">
                  <p class="text-center small-text mt-3">DRAG AND DROP HERE</p>
                </div>
              </mat-card>
              }

              <button
                type="button"
                mat-stroked-button
                class="mt-2 mb-1"
                (click)="documentFileAttachments.click()"
                [disabled]="viewMode()"
              >
                <mat-icon>upload</mat-icon> Upload Files
              </button>
              <input
                type="file"
                accept=".pdf, image/jpeg, image/png"
                class="d-none"
                (change)="onClickUploadFiles($event, 'documentFile')"
                multiple
                #documentFileAttachments
              />
            </mat-card>
          </div>

          <div>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Remarks</mat-label>
              <textarea
                matInput
                [readonly]="viewMode()"
                formControlName="locationAndPropRemarks"
                placeholder="Remarks..."
              ></textarea>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Khazana Status</mat-label>
              <input
                matInput
                [readonly]="viewMode()"
                formControlName="khazanaStatus"
              />
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Due Date</mat-label>
              <input
                matInput
                formControlName="dueDate"
                [matDatepicker]="datePicker2"
                placeholder="DD/MM/YYYY"
                [readonly]="viewMode()"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="datePicker2"
                [disabled]="viewMode()"
              ></mat-datepicker-toggle>
              <mat-datepicker #datePicker2></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </section>

      <section class="container mb-3">
        <h5 class="font-regular py-2">Additional Details</h5>

        <h6 class="font-regular">Area Map</h6>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
          <div class="mb-2">
            <div class="img-view w-100">
              <mat-icon class="icon-img">wallpaper</mat-icon>
            </div>
          </div>

          <div>
            <mat-card class="px-2 py-1" appearance="outlined">
              <p class="text-center my-2">History Chain Attachment Documents</p>

              @if((fileInfoArray.hcdocumentFile &&
              fileInfoArray.hcdocumentFile.length) ||
              (oldFileInfoArray.hcdocumentFile &&
              oldFileInfoArray.hcdocumentFile.length)) { @if
              (oldFileInfoArray.hcdocumentFile &&
              oldFileInfoArray.hcdocumentFile.length) {
              <mat-card appearance="outlined" class="text-secondary">
                @if(!viewMode()) {
                  <p class="text-center small-text mb-0 text-dark">
                    Previous Uploads
                  </p>
                  <mat-divider></mat-divider>
                }
                <mat-divider></mat-divider>
                <mat-list role="list">
                  @for(fileInfo of oldFileInfoArray.hcdocumentFile; track
                  $index+'hcd-'+fileInfo.fileName) {
                  <div
                    class="d-flex justify-content-between align-items-center mb-1"
                  >
                    <span class="pt-2 text-truncate px-2"
                      ><b class="text-dark">{{ $index + 1 }}. </b>
                      @if(fileInfo.markedForDeletion) {
                      <del>{{ fileInfo.fileName }}</del>
                      } @else {
                      {{ fileInfo.fileName }}
                      }
                    </span>
                    <span class="d-flex align-items-center">
                      <button
                      mat-icon-button
                      class="mt-1"
                      (click)="
                        onWindowPopupOpenForFiles('hcdocumentFile', fileInfo.fileName)
                      "
                    >
                      <mat-icon>open_in_new</mat-icon>
                    </button>
                    @if(!viewMode()) {
                    <button
                      mat-icon-button
                      class="mt-1"
                      (click)="
                        removeFromPreviousUploads('hcdocumentFile', $index)
                      "
                      [disabled]="disableFileRemoval()"
                    >
                      <mat-icon>{{
                        fileInfo.markedForDeletion
                          ? "undo"
                          : "do_not_disturb_on"
                      }}</mat-icon>
                    </button>
                    }
                  </span>
                  </div>
                  }
                </mat-list>
              </mat-card>
              } @if (fileInfoArray.hcdocumentFile &&
              fileInfoArray.hcdocumentFile.length){
              <mat-card appearance="outlined" class="mt-2">
                <p class="text-center small-text mb-0">New Uploads</p>
                <mat-divider></mat-divider>
                <mat-list role="list">
                  @for(fileInfo of fileInfoArray.hcdocumentFile; track
                  $index+'hcd-'+fileInfo) {
                  <div
                    class="d-flex justify-content-between align-items-center mb-1"
                  >
                    <span class="pt-2 text-truncate px-2"
                      ><b>{{ $index + 1 }}. </b>{{ fileInfo }}</span
                    >
                    @if(!viewMode()) {
                    <button
                      mat-icon-button
                      class="mt-1"
                      (click)="removeFiles('hcdocumentFile', $index)"
                      [disabled]="disableFileRemoval()"
                    >
                      <mat-icon>do_not_disturb_on</mat-icon>
                    </button>
                    }
                  </div>
                  }
                </mat-list>
              </mat-card>
              } } @else {
              <mat-card appearance="outlined">
                <div class="drag-n-drop-box">
                  <p class="text-center small-text mt-3">DRAG AND DROP HERE</p>
                </div>
              </mat-card>
              }

              <button
                type="button"
                mat-stroked-button
                class="mt-2 mb-1"
                (click)="historyChainAttachments.click()"
                [disabled]="viewMode()"
              >
                <mat-icon>upload</mat-icon> Upload Files
              </button>
              <input
                type="file"
                accept=".pdf, image/jpeg, image/png"
                class="d-none"
                (change)="onClickUploadFiles($event, 'hcdocumentFile')"
                multiple
                #historyChainAttachments
              />
            </mat-card>
          </div>
        </div>

        <h6 class="font-regular">Legal Matters</h6>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
          <mat-form-field appearance="outline">
            <mat-label>Legal Matters</mat-label>
            <textarea
              rows="1"
              matInput
              formControlName="legalMatters"
              placeholder="Remarks..."
              [readonly]="viewMode()"
            ></textarea>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Due Date</mat-label>
            <input
              matInput
              formControlName="ledueDate"
              [matDatepicker]="datePicker3"
              [readonly]="viewMode()"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="datePicker3"
              [disabled]="viewMode()"
            ></mat-datepicker-toggle>
            <mat-datepicker #datePicker3></mat-datepicker>
          </mat-form-field>
        </div>

        <h6 class="font-regular mb-3">History/ Chain Tree</h6>
        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>History/ Chain Tree</mat-label>
            <textarea
              rows="8"
              formControlName="historyChain"
              required
              matInput
              [readonly]="viewMode()"
            ></textarea>
          </mat-form-field>
        </div>

        <div class="row mx-1 my-2">
          <button
            type="button"
            mat-stroked-button
            class="col-auto"
            [disabled]="viewMode()"
          >
            <mat-icon>list</mat-icon> Choose Existing Deed as Chain Deed
          </button>
        </div>

        <div class="mx-1 d-flex">
          <mat-card class="mb-2 w-auto p-2 me-auto" appearance="outlined">
            <mat-slide-toggle
              formControlName="mortgaged"
              labelPosition="before"
            >
              <span class="h6"> Mortgaged ? </span>
            </mat-slide-toggle>
          </mat-card>
        </div>

        @if(form['mortgaged'].value) {
        <mat-card appearance="outlined" class="mx-1 p-2 mb-2">
          @if (!viewMode()) {
            <form [formGroup]="mortgagedDetails" (ngSubmit)="onAddMortgaged()">
              <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                <mat-form-field appearance="outline" class="mb-auto">
                  <mat-label>To Whom</mat-label>
                  <input
                    matInput
                    formControlName="party"
                    [readonly]="viewMode()"
                  />
                </mat-form-field>

                <mat-form-field appearance="outline" class="mb-auto">
                  <mat-label>Mortgage Date</mat-label>
                  <input
                    matInput
                    formControlName="mortDate"
                    [readonly]="viewMode()"
                    [matDatepicker]="datePicker4"
                    placeholder="DD/MM/YYYY"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="datePicker4"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #datePicker4></mat-datepicker>
                </mat-form-field>

                <div>
                  <mat-card class="px-2 py-1" appearance="outlined">
                    <p class="text-center my-2">Attach Supporting Documents</p>
                    <mat-card appearance="outlined" class="mt-2">
                      @if(fileInfoArray.docFile && fileInfoArray.mortDocFile.length){
                      <mat-list role="list">
                        @for(fileInfo of fileInfoArray.mortDocFile; track
                        $index+'hcd-'+fileInfo) {
                        <div
                          class="d-flex justify-content-between align-items-center mb-1"
                        >
                          <span class="pt-2 text-truncate px-2"
                            ><b>{{ $index + 1 }}. </b>{{ fileInfo }}</span
                          >
                          @if(!viewMode()) {
                          <button
                            mat-icon-button
                            class="mt-1"
                            (click)="removeFiles('mortDocFile', $index)"
                            [disabled]="disableFileRemoval()"
                          >
                            <mat-icon>do_not_disturb_on</mat-icon>
                          </button>
                          }
                        </div>
                        }
                      </mat-list>
                      } @else {
                      <div class="drag-n-drop-box">
                        <p class="text-center small-text mt-3">
                          DRAG AND DROP HERE
                        </p>
                      </div>
                      }
                    </mat-card>
                    <button
                      type="button"
                      mat-stroked-button
                      class="mt-2 mb-1"
                      (click)="docFileAttachments.click()"
                    >
                      <mat-icon>upload</mat-icon> Upload Files
                    </button>
                    <input
                      type="file"
                      accept=".pdf, image/jpeg, image/png"
                      class="d-none"
                      (change)="onClickUploadFiles($event, 'docFile')"
                      multiple
                      #docFileAttachments
                      [disabled]="viewMode()"
                    />
                  </mat-card>
                </div>
              </div>
              <div>
                <button
                  mat-stroked-button
                  type="submit"
                  class="my-2 me-auto"
                  [disabled]="viewMode()"
                >
                  <mat-icon>add</mat-icon>
                  Add
                </button>
              </div>
            </form>
          }

          @if(mortgagedData().length) { 
            @if (!viewMode()) {
              <mat-divider></mat-divider>
            }
            <mat-table [dataSource]="mortgagedData()">
              <ng-container matColumnDef="slno">
                <mat-header-cell mat-header-cell *matHeaderCellDef
                  >No.</mat-header-cell
                >
                <mat-cell mat-cell *matCellDef="let element; let i = index">{{
                  i + 1
                }}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="party">
                <mat-header-cell *matHeaderCellDef>To Whom</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.party }} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="mortDate">
                <mat-header-cell *matHeaderCellDef>Mortgage Date</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.mortDate }} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                <mat-cell *matCellDef="let i = index">
                  <!-- <button
                    mat-icon-button
                    (click)="onEditMortgaged(i)"
                    [disabled]="viewMode()"
                  >
                    <mat-icon>edit</mat-icon>
                  </button> -->
                  <button
                    mat-icon-button
                    (click)="onDeleteMortgaged(i)"
                    [disabled]="viewMode()"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>

              <mat-header-row
                *matHeaderRowDef="mortgagedDisplayedColumns"
              ></mat-header-row>
              <mat-row
                *matRowDef="let row; columns: mortgagedDisplayedColumns"
              ></mat-row>
            </mat-table>
          }
        </mat-card>
        }

        <div class="mx-1 d-flex">
          <mat-card class="mb-2 w-auto p-2 me-auto" appearance="outlined">
            <mat-slide-toggle
              formControlName="partlySold"
              labelPosition="before"
            >
              <span class="h6"> Partly sold ? </span>
            </mat-slide-toggle>
          </mat-card>
        </div>

        @if(form['partlySold'].value) {
        <mat-card appearance="outlined" class="mx-1 p-2 mb-2">
          <div class="mx-1 d-flex">
            <mat-card class="mb-2 w-auto p-2 me-auto" appearance="outlined">
              <div>Purchased Qty: {{ purQty }}</div>
              <div>Sold Qty: {{ soldQty }}</div>
              <div>Existing Qty: {{ remainingQty }}</div>
            </mat-card>
          </div>
          <mat-divider></mat-divider>
          
          @if (!viewMode()) {
            <br />
            <form [formGroup]="partlySoldDetails" (ngSubmit)="onAddPartlySold()">
              <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                <mat-form-field appearance="outline">
                  <mat-label>Sold to Whom</mat-label>
                  <input
                    matInput
                    formControlName="sale"
                    [readonly]="viewMode()"
                  />
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Date of Sale</mat-label>
                  <input
                    matInput
                    formControlName="date"
                    [readonly]="viewMode()"
                    [matDatepicker]="datePicker5"
                    placeholder="DD/MM/YYYY"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="datePicker5"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #datePicker5></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Qty.</mat-label>
                  <input matInput formControlName="qty" [readonly]="viewMode()" />
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Deed to be Linked</mat-label>
                  <input
                    matInput
                    formControlName="deedLink"
                    [readonly]="viewMode()"
                  />
                </mat-form-field>
              </div>
              <button mat-stroked-button type="submit" [disabled]="viewMode()">
                <mat-icon>add</mat-icon>
                Add
              </button>
            </form>
          }

          @if(this.partlySoldData().length) {
            @if (!viewMode()) {
              <br />
              <mat-divider></mat-divider>
            }
          <mat-table [dataSource]="partlySoldData()">
            <ng-container matColumnDef="slno">
              <mat-header-cell mat-header-cell *matHeaderCellDef
                >No.</mat-header-cell
              >
              <mat-cell mat-cell *matCellDef="let element; let i = index">{{
                i + 1
              }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="sale">
              <mat-header-cell *matHeaderCellDef>To Whom</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.sale }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="date">
              <mat-header-cell *matHeaderCellDef>Date of Sale</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.date }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="qty">
              <mat-header-cell *matHeaderCellDef>Qty.</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.qty }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="deedLink">
              <mat-header-cell *matHeaderCellDef
                >Deed to be Linked</mat-header-cell
              >
              <mat-cell *matCellDef="let row"> {{ row.deedLink }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
              <mat-cell *matCellDef="let i = index">
                <!-- <button
                  mat-icon-button
                  (click)="onEditPartlySold(i)"
                  [disabled]="viewMode()"
                >
                  <mat-icon>edit</mat-icon>
                </button> -->
                <button
                  mat-icon-button
                  (click)="onDeletePartlySold(i)"
                  [disabled]="viewMode()"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row
              *matHeaderRowDef="partlySoldDisplayedColumns"
            ></mat-header-row>
            <mat-row
              *matRowDef="let row; columns: partlySoldDisplayedColumns"
            ></mat-row>
          </mat-table>
          }
        </mat-card>
        }
        <div class="row m-1">
          <button
            type="button"
            mat-stroked-button
            class="col-auto"
            [disabled]="viewMode()"
          >
            <mat-icon>list</mat-icon> Tag Deed
          </button>
        </div>
      </section>

      <mat-divider class="mt-4"></mat-divider>

      <section class="d-flex">
        @if(!viewMode()){
        <button
          mat-flat-button
          type="submit"
          class="btn-sp btn-sp-final mt-4 mb-3 me-2 ms-auto"
          (click)="onSubmit()"
        >
          <mat-icon>{{ updateMode() ? "edit" : "save" }}save</mat-icon>
          {{ updateMode() ? "Save Changes" : "Submit" }}
        </button>
        } @else {
        <button
          mat-flat-button
          type="submit"
          class="btn-sp btn-sp-final mt-4 mb-3 me-2 ms-auto"
          routerLink="/land-record/update/{{ id }}"
        >
          <mat-icon>arrow_forward</mat-icon>
          Go to Update Page
        </button>
        }
      </section>
    </form>
  </mat-card>
</main>
