<!-- TODO: fix date picker for real :) -->

<main class="container w-100">
  <section class="my-5 d-flex">
    <button mat-icon-button class="my-sm-auto back-icon-button" routerLink="/land-record">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="h1 my-auto">
      {{ updateMode() ? "Update" : viewMode() ? "View" : "Add new" }} land
      record</span>
  </section>

  <mat-card class="p-3 m-2 mb-4 border">
    <form [formGroup]="newLandRecordForm">
      <section class="container mb-3">
        <h5 class="font-weight-normal py-2">Ownership & Transaction</h5>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
          <mat-form-field appearance="outline">
            <mat-label>Company Name</mat-label>
            <mat-select formControlName="companyId" required>
              @for (company of companyList(); track $index) {
              <mat-option [value]="company.companyId">
                {{ company.companyName }}
                <span class="text-muted">
                  {{ "(" + company.companyId + ")" }}
                </span>
              </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </section>

      <section class="container mb-3">
        <h5 class="font-regular my-3">Deed Details</h5>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
          <mat-form-field appearance="outline" class="mx-2">
            <mat-label>Deed No.</mat-label>
            <mat-select formControlName="deedId">
              <!-- TODO: implement formControlName="deedId" -->
              @for (deed of deedList(); track 'deed-'+$index) {
              <mat-option [value]="deed.deedId">{{deed.deedNo}}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <div class="mt-1">
            <mat-button-toggle-group formControlName="deedType" aria-label="Deed Type" matToolTip="Deed Type">
              <mat-button-toggle value="main-deed">Main Deed</mat-button-toggle>
              <mat-button-toggle value="chain-deed">Chain Deed</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>

        @if(form["deedType"].value === 'chain-deed') {
        <div class="row">
          <div>
            @for (item of [{},{}]; track 'deeds-'+$index) {
            <div class="d-flex flex-nowrap align-items-center">
              <span class="h5 p-2 py-3 mb-auto">
                {{ $index + 1 }}.
              </span>

              <form>
                <!-- [formGroup]="item" -->
                <mat-form-field class="mx-2">
                  <mat-label>Deed No.</mat-label>
                  <mat-select>
                    <!-- TODO: implement formControlName="deedId" -->
                    @for (deed of deedList(); track 'deed-'+$index) {
                    <mat-option [value]="deed.deedId">{{deed.deedNo}}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="mx-2">
                  <mat-label>Deed Type</mat-label>
                  <mat-select>
                    <!-- TODO: implement formControlName="deedId" -->
                    @for (deed of deedList(); track 'deed-'+$index) {
                    <mat-option [value]="deed.deedId">{{deed.deedNo}}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="mx-2">
                  <mat-label>Order</mat-label>
                  <input type="number" matInput>
                </mat-form-field>
              </form>

              <span class="mt-2 mb-auto">
                <button mat-icon-button type="button">
                  <mat-icon class="text-red">
                    do_not_disturb_on
                  </mat-icon>
                  <!-- <mat-icon [class]="landSpecifics().length < 2 ? '' : 'text-red'">
                    do_not_disturb_on
                  </mat-icon> -->
                </button>
              </span>
            </div>
            }
            <button mat-button type="button" class="btn-sp2" [disabled]="viewMode()">
              <mat-icon>add</mat-icon> Add Deeds
            </button>
          </div>
        </div>
        }
      </section>

      <section class="container mb-3">
        <h6 class="font-regular my-3">Quantity Info</h6>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
          <mat-form-field appearance="outline">
            <mat-label>Total Qty</mat-label>
            <input type="number" matInput formControlName="totalQty" [readonly]="viewMode()" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Purchased Qty</mat-label>
            <input type="number" matInput formControlName="purQty" [readonly]="viewMode()" />
          </mat-form-field>

          <div>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Mutated Qty</mat-label>
              <input type="number" matInput formControlName="mutedQty" [readonly]="viewMode()" />
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Un-mutated Qty</mat-label>
              <input type="number" matInput formControlName="unMutedQty" [readonly]="viewMode()" />
            </mat-form-field>
          </div>
        </div>
      </section>

      <section class="container mb-3">
        <h5 class="font-regular py-2">Location & Status</h5>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
          <div>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Location of Deed</mat-label>
              <input matInput [readonly]="viewMode()" formControlName="deedLoc" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Location of Photocopy</mat-label>
              <input matInput [readonly]="viewMode()" formControlName="photoLoc" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Status as per Govt. Records</mat-label>
              <input matInput [readonly]="viewMode()" formControlName="govtRec" />
            </mat-form-field>
          </div>

          <div>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Remarks</mat-label>
              <textarea matInput [readonly]="viewMode()" formControlName="remarks" placeholder="Remarks..."></textarea>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Khazana Status</mat-label>
              <input matInput [readonly]="viewMode()" formControlName="khazanaStatus" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Property Tax</mat-label>
              <input type="number" matInput formControlName="tax" [readonly]="viewMode()" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Last Updated Date</mat-label>
              <input matInput formControlName="dueDate" [matDatepicker]="datePicker2" placeholder="DD/MM/YYYY"
                (focus)="datePicker2.open()" readonly />
              <mat-datepicker-toggle matSuffix [for]="datePicker2" [disabled]="viewMode()"></mat-datepicker-toggle>
              <mat-datepicker #datePicker2></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </section>

      <section class="container mb-3">
        <h5 class="font-regular py-2">Additional Details</h5>

        <h6 class="font-regular">Area Map</h6>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
          <div>
            <mat-card class="px-2 py-1" appearance="outlined">
              <p class="text-center my-2">History Chain Attachment Documents</p>

              @if((fileInfoArray.hcdocumentFile &&
              fileInfoArray.hcdocumentFile.length) ||
              (oldFileInfoArray.hcdocumentFile &&
              oldFileInfoArray.hcdocumentFile.length)) { @if
              (oldFileInfoArray.hcdocumentFile &&
              oldFileInfoArray.hcdocumentFile.length) {
              <mat-card appearance="outlined" class="text-secondary">
                @if(!viewMode()) {
                <p class="text-center small-text mb-0 text-dark">
                  Previous Uploads
                </p>
                <mat-divider></mat-divider>
                }
                <mat-list role="list">
                  @for(fileInfo of oldFileInfoArray.hcdocumentFile; track
                  $index+'hcd-'+fileInfo.fileName) {
                  <div class="d-flex justify-content-between align-items-center mb-1">
                    <span class="pt-2 text-truncate px-2"><b class="text-dark">
                        {{ $index + 1 }}. </b>
                      @if(fileInfo.markedForDeletion) {
                      <del>
                        {{ fileInfo.fileName }}</del>
                      } @else {
                      {{ fileInfo.fileName }}
                      }
                    </span>
                    <span class="d-flex align-items-center">
                      <button mat-icon-button class="mt-1" (click)="
                          onWindowPopupOpenForFiles(
                            'hcdocumentFile',
                            fileInfo.fileName
                          )
                        ">
                        <mat-icon>open_in_new</mat-icon>
                      </button>
                      @if(!viewMode()) {
                      <button mat-icon-button class="mt-1" (click)="
                          removeFromPreviousUploads('hcdocumentFile', $index)
                        " [disabled]="disableFileRemoval()">
                        <mat-icon>
                          {{
                          fileInfo.markedForDeletion
                          ? "undo"
                          : "do_not_disturb_on"
                          }}
                        </mat-icon>
                      </button>
                      }
                    </span>
                  </div>
                  }
                </mat-list>
              </mat-card>
              } @if (fileInfoArray.hcdocumentFile &&
              fileInfoArray.hcdocumentFile.length){
              <mat-card appearance="outlined" class="mt-2">
                <p class="text-center small-text mb-0">New Uploads</p>
                <mat-divider></mat-divider>
                <mat-list role="list">
                  @for(fileInfo of fileInfoArray.hcdocumentFile; track
                  $index+'hcd-'+fileInfo) {
                  <div class="d-flex justify-content-between align-items-center mb-1">
                    <span class="pt-2 text-truncate px-2"><b>
                        {{ $index + 1 }}. </b>
                      {{ fileInfo }}</span>
                    @if(!viewMode()) {
                    <button mat-icon-button class="mt-1" (click)="removeFiles('hcdocumentFile', $index)"
                      [disabled]="disableFileRemoval()">
                      <mat-icon>do_not_disturb_on</mat-icon>
                    </button>
                    }
                  </div>
                  }
                </mat-list>
              </mat-card>
              } } @else {
              <mat-card appearance="outlined">
                <div class="drag-n-drop-box">
                  <p class="text-center small-text mt-3">DRAG AND DROP HERE</p>
                </div>
              </mat-card>
              }

              <button type="button" mat-stroked-button class="mt-2 mb-1" (click)="historyChainAttachments.click()"
                [disabled]="viewMode()">
                <mat-icon>upload</mat-icon> Upload Files
              </button>
              <input type="file" accept=".pdf, image/jpeg, image/png" class="d-none"
                (change)="onClickUploadFiles($event, 'hcdocumentFile')" multiple #historyChainAttachments />
            </mat-card>
          </div>
        </div>


        <h6 class="font-regular mb-3">History/ Chain Tree</h6>
        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>History/ Chain Tree</mat-label>
            <textarea rows="8" formControlName="historyChain" required matInput [readonly]="viewMode()"></textarea>
          </mat-form-field>
        </div>

        <div class="row mx-1 my-2">
          <button type="button" mat-stroked-button class="col-auto" [disabled]="viewMode()">
            <mat-icon>list</mat-icon> Choose Existing Deed as Chain Deed
          </button>
        </div>

        <div class="mx-1 d-flex">
          <mat-card class="mb-2 w-auto p-2 me-auto" appearance="outlined">
            <mat-slide-toggle formControlName="mortgaged" labelPosition="before">
              <span class="h6"> Mortgaged ? </span>
            </mat-slide-toggle>
          </mat-card>
        </div>

        @if(form['mortgaged'].value) {
        <mat-card appearance="outlined" class="mx-1 p-2 mb-2">
          <div class="mx-1 d-flex">
            <mat-card class="mb-2 w-auto p-2 me-auto" appearance="outlined">
              <div>Purchased Qty:
                {{ purQty }}
              </div>
              <div>Mortgaged Qty:
                {{ mortgagedQty }}
              </div>
              <div>Remaining Qty:
                {{ remainingQty }}
              </div>
            </mat-card>
          </div>
          @if (!viewMode()) {
          <div>
            <button mat-stroked-button type="button" class="my-2 me-auto" (click)="onAddMortgaged()">
              <mat-icon>add</mat-icon>
              Add
            </button>
          </div>
          } @if(mortgagedData().length) { @if (!viewMode()) {
          <mat-divider></mat-divider>
          }
          <mat-table [dataSource]="mortgagedData()">
            <ng-container matColumnDef="slno">
              <mat-header-cell mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
              <mat-cell mat-cell *matCellDef="let element; let i = index">
                {{
                i + 1
                }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="party">
              <mat-header-cell *matHeaderCellDef>To Whom</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.party }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="mortQty">
              <mat-header-cell *matHeaderCellDef>Mortgaged Qty.</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.mortQty }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="mortDateStr">
              <mat-header-cell *matHeaderCellDef>Mortgage Date</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.mortDateStr }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
              <mat-cell *matCellDef="let i = index">
                <button mat-icon-button (click)="onEditMortgaged(i)" [disabled]="viewMode()">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="onDeleteMortgaged(i)" [disabled]="viewMode()">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="mortgagedDisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: mortgagedDisplayedColumns"></mat-row>
          </mat-table>
          }
        </mat-card>
        }

        <div class="mx-1 d-flex">
          <mat-card class="mb-2 w-auto p-2 me-auto" appearance="outlined">
            <mat-slide-toggle formControlName="partlySold" labelPosition="before">
              <span class="h6"> Partly sold ? </span>
            </mat-slide-toggle>
          </mat-card>
        </div>

        @if(form['partlySold'].value) {
        <mat-card appearance="outlined" class="mx-1 p-2 mb-2">
          <div class="mx-1 d-flex">
            <mat-card class="mb-2 w-auto p-2 me-auto" appearance="outlined">
              <div>Purchased Qty:
                {{ purQty }}
              </div>
              <div>Sold Qty:
                {{ partlySoldQty }}
              </div>
              <div>Existing Qty:
                {{ remainingQty }}
              </div>
            </mat-card>
          </div>
          @if (!viewMode()) {
          <div>
            <button mat-stroked-button type="button" class="my-2 me-auto" (click)="onAddPartlySold()"
              [disabled]="viewMode()">
              <mat-icon>add</mat-icon>
              Add
            </button>
          </div>
          } @if(this.partlySoldData().length) { @if (!viewMode()) {
          <mat-divider></mat-divider>
          }
          <mat-table [dataSource]="partlySoldData()">
            <ng-container matColumnDef="slno">
              <mat-header-cell mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
              <mat-cell mat-cell *matCellDef="let element; let i = index">
                {{
                i + 1
                }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="sale">
              <mat-header-cell *matHeaderCellDef>To Whom</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.sale }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="dateStr">
              <mat-header-cell *matHeaderCellDef>Date of Sale</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.dateStr }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="qty">
              <mat-header-cell *matHeaderCellDef>Qty.</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.qty }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="deedLink">
              <mat-header-cell *matHeaderCellDef>Deed to be Linked</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.deedLink }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
              <mat-cell *matCellDef="let i = index">
                <button mat-icon-button (click)="onEditPartlySold(i)" [disabled]="viewMode()">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="onDeletePartlySold(i)" [disabled]="viewMode()">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="partlySoldDisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: partlySoldDisplayedColumns"></mat-row>
          </mat-table>
          }
        </mat-card>
        }
        <div class="row m-1">
          <button type="button" mat-stroked-button class="col-auto" [disabled]="viewMode()">
            <mat-icon>list</mat-icon> Tag Deed
          </button>
        </div>
      </section>

      <mat-divider class="mt-4"></mat-divider>

      <section class="d-flex">
        @if(!viewMode()){
        <button mat-flat-button type="submit" class="btn-sp btn-sp-final mt-4 mb-3 me-2 ms-auto" (click)="onSubmit()">
          <mat-icon>
            {{ updateMode() ? "edit" : "save" }}save
          </mat-icon>
          {{ updateMode() ? "Save Changes" : "Submit" }}
        </button>
        } @else {
        <button mat-stroked-button type="submit" class="btn-sp btn-sp-final mt-4 mb-3 me-2 ms-auto"
          routerLink="/land-record/update/{{ id }}">
          <mat-icon>arrow_forward</mat-icon>
          Go to Update Page
        </button>
        }
      </section>
    </form>
  </mat-card>
</main>
