<main class="container py-1">
  <div class="row">
    <button
      mat-raised-button
      type="button"
      class="ms-auto add-btn w-auto me-2 my-2"
      routerLink="./new"
    >
      <mat-icon>add</mat-icon> Add new land record
    </button>
  </div>
  <mat-card appearance="outlined" class="p-2">
    <table mat-table [dataSource]="listData()">
      <!--- Note that these columns can be defined in any order.
    The actual rendered columns are set as a property on the row definition" -->

      <ng-container matColumnDef="slno">
        <th mat-header-cell *matHeaderCellDef class="text-green">No.</th>
        <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
      </ng-container>

      <ng-container matColumnDef="groupName">
        <th mat-header-cell *matHeaderCellDef class="text-green">Group Name</th>
        <td mat-cell *matCellDef="let element">{{ element.groupName }}</td>
      </ng-container>

      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef class="text-green">State</th>
        <td mat-cell *matCellDef="let element">{{ element.state }}</td>
      </ng-container>

      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef class="text-green">City</th>
        <td mat-cell *matCellDef="let element">{{ element.city }}</td>
      </ng-container>

      <ng-container matColumnDef="mouza">
        <th mat-header-cell *matHeaderCellDef class="text-green">Mouza</th>
        <td mat-cell *matCellDef="let element">{{ element.mouza }}</td>
      </ng-container>

      <ng-container matColumnDef="block">
        <th mat-header-cell *matHeaderCellDef class="text-green">Block</th>
        <td mat-cell *matCellDef="let element">{{ element.block }}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="text-center text-green">Actions</th>
        <td
          mat-cell
          *matCellDef="let element"
          class="d-flex justify-content-center mt-2"
        >
          <button mat-stroked-button type="button" class="m-1" [routerLink]="'/land-record/view/'+element.recId">
            <mat-icon>visibility</mat-icon>View
          </button>
          <button mat-flat-button type="button" class="m-1" [routerLink]="'/land-record/update/'+element.recId">
            <mat-icon>edit</mat-icon>Update
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    @if(!listData().length) {
    <div class="my-5 text-center text-green">NO LAND RECORDS FOUND</div>
    }
  </mat-card>
</main>
