<main class="main">
  <div class="side-nav-item" routerLink="/" routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact: true}" mat-ripple>Dashboard</div>
  <div class="side-nav-item" routerLink="/master/user" routerLinkActive="nav-active" mat-ripple>User Master</div>
  <div class="side-nav-item" routerLink="/land-record" routerLinkActive="nav-active" mat-ripple>Land Record</div>
  <div class="side-nav-item" routerLink="/report" routerLinkActive="nav-active" mat-ripple>Report</div>
</main>
