<main class="container my-1">
  <div class="row">
    <button
      mat-raised-button
      type="button"
      class="ms-auto add-btn w-auto me-2 my-2"
      routerLink="./new"
    >
      <mat-icon>add</mat-icon> Add new user
    </button>
  </div>
  <mat-card appearance="outlined" class="p-2">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error vel aperiam
    itaque temporibus voluptatum repudiandae, perferendis facilis quae rerum
    quia, nobis totam. Ut labore reprehenderit soluta asperiores id odio dolore!
  </mat-card>
</main>
