<main class="w-100 h-100 d-flex flex-column">
  <!-- <app-header [navState]="navState" />
  <mat-drawer-container class="flex-grow-1 bg-transparent" autosize>
    <mat-drawer
      [opened]="navState()"
      class="side-nav border-end bg-transparent"
      mode="side"
    >
      <app-side-nav [navState]="navState" />
    </mat-drawer>
    <section class="content h-100">
      <router-outlet />
    </section>
  </mat-drawer-container>
  <app-footer /> -->
  <app-history-chain-graph-dynamic></app-history-chain-graph-dynamic>
</main>
