.back-icon-button {
  margin-right: 1rem;
  mat-icon {
    transform: scale(1.4);
  }
}

mat-icon {
  margin-bottom: 2px;
}

.drag-n-drop-box {
  justify-self: center;
  border: 3px, dotted, #00800050;
  border-radius: 0.4rem;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
}

.img-view {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
  border: 3px, dotted, #00800050;
  border-radius: 0.4rem;
  color: green;
}

.icon-img {
  transform: scale(3);
}

.area-map-wrapper-container {
  display: flex;
  align-items: center;
  overflow-x: auto;
  width: calc(100%);
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
}

.area-map-wrapper {
  display: flex;
  align-items: center;
}

.area-map {
  margin-left: 2rem;
  width: 25rem;
  position: relative;
}

.btn-area-map-remove {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #ffffff99;
  backdrop-filter: blur(2px);
  padding: 0;
  padding-top: 2px;
  padding-left: 2px;
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.area-map-marked-for-deletion {
  opacity: 0.5;
}
